<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:38:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:40:05</td>   <td>103848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:40:58</td>   <td>157068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:44:19</td>   <td>357940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:44:37</td>   <td>376009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:44:45</td>   <td>384430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:45:00</td>   <td>398987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:45:26</td>   <td>425201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:45:59</td>   <td>458674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:46:15</td>   <td>474283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@4f638935]">feature</td> 
  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:38:19</td>   <td>-1331</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.TestRunner@4f638935]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@363988129</td>   <td></td> </tr>
<tr bgcolor="68efa0">  <td>21/09/27 22:47:16</td>   <td>534878</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.TestRunner@4f638935]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@363988129</td>   <td></td> </tr>
</table>
